@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 100% 100%;
    --foreground: 212 20.2% 41.8%;
    --card: 210 14% 97%;
    --card-foreground: 212 20.2% 41.8%;
    --longform: 210 14% 97%;
    --longform-foreground: 0 0% 60.8%;
    --popover: 212 100% 100%;
    --popover-foreground: 212 20.2% 41.8%;
    --primary: 212 20.2% 41.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 90%;
    --secondary-foreground: 212 20.2% 41.8%;
    --muted: 212 30% 94%;
    --muted-foreground: 212 20% 65%;
    --accent: 225 12% 94%;
    --accent-foreground: 212 20.2% 41.8%;
    --destructive: 4 75% 50%;
    --destructive-foreground: 212 5% 100%;
    --border: 212 30% 82%;
    --input: 212 30% 70%;
    --ring: 212 30% 70%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 212 50% 10%;
    --foreground: 212 5% 100%;
    --card: 212 50% 10%;
    --card-foreground: 212 5% 100%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 5% 100%;
    --primary: 212 20.2% 41.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 25%;
    --muted-foreground: 212 5% 65%;
    --accent: 174 30% 25%;
    --accent-foreground: 212 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 212 5% 100%;
    --border: 212 30% 50%;
    --input: 212 30% 50%;
    --ring: 212 20.2% 41.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
